.label {
  font-weight: bold;
  min-width: 100px;
}
.mybuttons {
  margin-left: 10px;
}
.search-enabled {
  cursor: pointer;
  opacity: 1;
}
.search-disabled {
  cursor: default;
  opacity: 0.6
}
.blue {
  background-color: #0275d8;
  color: #ffffff;
}

@media (min-width: 576px) {
  .row-route {
    margin: 0px 0px 10px 0px;
  }
}

@media (min-width: 992px) {
  .label {
    line-height: 40px;
  }
  .value {
    line-height: 40px;
  }
}
