.mybuttons {
  margin-left: 10px;
}
.label {
  font-weight: bold;
  width: 100px;
}
.value {
  line-height: 40px;
}
.search-enabled {
  cursor: pointer;
  opacity: 1;
}
.search-disabled {
  cursor: default;
  opacity: 0.6
}
.blue {
  background-color: #0275d8;
  color: #ffffff;
}
